<!-- footer -->
<div style="background-color: rgb(68, 68, 68); background-image: none; background-repeat: no-repeat;background-position:0 0; background:-moz-linear-gradient(top, none, none);background:-webkit-gradient(linear, left top, left bottom, from(none), to(none));background:-o-linear-gradient(top, none, none);background:-ms-linear-gradient(top, none, none);background:linear-gradient(top, none, none);;
         position: relative; width: 100%;min-width:1000px;background-size: auto;" bgScroll="none">
    <div class=" footer" cpid="216" id="smv_Area3"
        style="width: 1000px; height: 42px; position: relative; margin: 0 auto;">
        <div id="smv_tem_65_20" ctype="banner" class="esmartMargin smartAbs " cpid="216" cstyle="Style1" ccolor="Item0"
            areaId="Area3" isContainer="True" pvid="" tareaId="Area3" re-direction="y" daxis="Y" isdeletable="True"
            style="height: 43px; width: 100%; left: 0px; top: 0px;z-index:0;">
            <div class="yibuFrameContent tem_65_20  banner_Style1  " style="overflow:visible;;">
                <div class="fullcolumn-inner smAreaC" id="smc_Area0" cid="tem_65_20" style="width:1000px">
                    <div id="smv_tem_66_55" ctype="companyinfo" class="esmartMargin smartAbs " cpid="216"
                        cstyle="Style4" ccolor="Item0" areaId="Area0" isContainer="False" pvid="tem_65_20"
                        tareaId="Area3" re-direction="all" daxis="All" isdeletable="True"
                        style="height: 30px; width: 320px; left: 340px; top: 11px;z-index:5;">
                        <div class="yibuFrameContent tem_66_55  companyinfo_Style4  " style="overflow:hidden;;">
                            <div class="w-company-info iconStyle1">
                                <span class="company-info-item">
                                    <a href="javascript:void(0)">
                                        <span class="icon company-info-icon    mw-icon-hide ">
                                            <i class="ltd-icon gs-gongsi"></i>
                                        </span>
                                        <span class="company-info-title" style="white-space:pre">版权所有：</span>
                                        <span class="company-info-text">苏州市碧龙旅游用品有限公司</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bannerWrap_tem_65_20" class="fullcolumn-outer" style="position: absolute; top: 0; bottom: 0;">
                </div>

                <script type="text/javascript">

                    $(function () {
                        var resize = function () {
                            $("#smv_tem_65_20 >.yibuFrameContent>.fullcolumn-inner").width($("#smv_tem_65_20").parent().width());
                            $('#bannerWrap_tem_65_20').fullScreen(function (t) {
                                if (VisitFromMobile()) {
                                    t.css("min-width", t.parent().width())
                                }
                            });
                        }
                        if (typeof (LayoutConverter) !== "undefined") {
                            LayoutConverter.CtrlJsVariableList.push({
                                CtrlId: "tem_65_20",
                                ResizeFunc: resize,
                            });
                        } else {
                            $(window).resize(function (e) {
                                if (e.target == this) {
                                    resize();
                                }
                            });
                        }

                        resize();
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<!-- footer -->